table {
    background-color: #0e1129;
    /* margin: 3rem; */
    padding: 1.5rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 900px;
    margin: 0 auto;
}

tr {
    display: flex;
    justify-content: space-between;
}

th,
td {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 12rem;
    height: 2.5rem;
    font-weight: bold;
}

.btn {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

td button {
    font-weight: bold;
    background-color: #0e1129;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: .9em;
    border: #fff solid 1px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
}

td button:hover {
    opacity: 1;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

.transaction-control{
    text-align: center;
}

.transaction-control:hover {
    transition: 0.5s;
    background-color: #2b3566;
    border-radius: 5px;
}

.income {
    color: #008000;
}

.expense {
    color: #B22222;
}